Repository blitzy-public-samples/trace3-z175cd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-lead, @repo-admin, @backend-team, @frontend-team, @devops-team, @ci-cd-team

.github/CODEOWNERS:

# Requirement addressed: Code Review Governance
# Location: Technical Specification/System Design/Development & Deployment

# Default owners for everything in the repo
# These owners will be requested for review on all PRs
*                       @team-lead @repo-admin

# Backend team owns all files under src/backend/
src/backend/**          @backend-team

# Frontend team owns all files under src/web/
src/web/**             @frontend-team

# DevOps team owns all infrastructure files
infrastructure/**      @devops-team

# CI/CD team owns all GitHub workflow files
.github/workflows/**   @ci-cd-team

Add public-samples/trace3-z175cd/.github/dependabot.yml
  .github/dependabot.yml
Owners: @team-lead, @repo-admin

Add public-samples/trace3-z175cd/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @team-lead, @repo-admin

Add public-samples/trace3-z175cd/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @team-lead, @repo-admin

Add public-samples/trace3-z175cd/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @team-lead, @repo-admin

Add public-samples/trace3-z175cd/.github/workflows/cd.yml
  .github/workflows/cd.yml
Owners: @ci-cd-team

Add public-samples/trace3-z175cd/.github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @ci-cd-team

Add public-samples/trace3-z175cd/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @team-lead, @repo-admin

Add public-samples/trace3-z175cd/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @team-lead, @repo-admin

Add public-samples/trace3-z175cd/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @team-lead, @repo-admin

Add public-samples/trace3-z175cd/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @team-lead, @repo-admin

Add public-samples/trace3-z175cd/infrastructure/kubernetes/apps/backend/deployment.yaml
  infrastructure/kubernetes/apps/backend/deployment.yaml
Owners: @devops-team

Add public-samples/trace3-z175cd/infrastructure/kubernetes/apps/backend/hpa.yaml
  infrastructure/kubernetes/apps/backend/hpa.yaml
Owners: @devops-team

Add public-samples/trace3-z175cd/infrastructure/kubernetes/apps/backend/service.yaml
  infrastructure/kubernetes/apps/backend/service.yaml
Owners: @devops-team

Add public-samples/trace3-z175cd/infrastructure/kubernetes/apps/web/deployment.yaml
  infrastructure/kubernetes/apps/web/deployment.yaml
Owners: @devops-team

Add public-samples/trace3-z175cd/infrastructure/kubernetes/apps/web/hpa.yaml
  infrastructure/kubernetes/apps/web/hpa.yaml
Owners: @devops-team

Add public-samples/trace3-z175cd/infrastructure/kubernetes/apps/web/service.yaml
  infrastructure/kubernetes/apps/web/service.yaml
Owners: @devops-team

Add public-samples/trace3-z175cd/infrastructure/kubernetes/base/configmap.yaml
  infrastructure/kubernetes/base/configmap.yaml
Owners: @devops-team

Add public-samples/trace3-z175cd/infrastructure/kubernetes/base/ingress.yaml
  infrastructure/kubernetes/base/ingress.yaml
Owners: @devops-team

Add public-samples/trace3-z175cd/infrastructure/kubernetes/base/namespace.yaml
  infrastructure/kubernetes/base/namespace.yaml
Owners: @devops-team

Add public-samples/trace3-z175cd/infrastructure/kubernetes/base/secret.yaml
  infrastructure/kubernetes/base/secret.yaml
Owners: @devops-team

Add public-samples/trace3-z175cd/infrastructure/kubernetes/base/serviceaccount.yaml
  infrastructure/kubernetes/base/serviceaccount.yaml
Owners: @devops-team

Add public-samples/trace3-z175cd/infrastructure/kubernetes/monitoring/elk/elasticsearch.yaml
  infrastructure/kubernetes/monitoring/elk/elasticsearch.yaml
Owners: @devops-team

Add public-samples/trace3-z175cd/infrastructure/kubernetes/monitoring/elk/kibana.yaml
  infrastructure/kubernetes/monitoring/elk/kibana.yaml
Owners: @devops-team

Add public-samples/trace3-z175cd/infrastructure/kubernetes/monitoring/elk/logstash.yaml
  infrastructure/kubernetes/monitoring/elk/logstash.yaml
Owners: @devops-team

Add public-samples/trace3-z175cd/infrastructure/kubernetes/monitoring/grafana/configmap.yaml
  infrastructure/kubernetes/monitoring/grafana/configmap.yaml
Owners: @devops-team

Add public-samples/trace3-z175cd/infrastructure/kubernetes/monitoring/grafana/deployment.yaml
  infrastructure/kubernetes/monitoring/grafana/deployment.yaml
Owners: @devops-team

Add public-samples/trace3-z175cd/infrastructure/kubernetes/monitoring/grafana/service.yaml
  infrastructure/kubernetes/monitoring/grafana/service.yaml
Owners: @devops-team

Add public-samples/trace3-z175cd/infrastructure/kubernetes/monitoring/jaeger/deployment.yaml
  infrastructure/kubernetes/monitoring/jaeger/deployment.yaml
Owners: @devops-team

Add public-samples/trace3-z175cd/infrastructure/kubernetes/monitoring/jaeger/service.yaml
  infrastructure/kubernetes/monitoring/jaeger/service.yaml
Owners: @devops-team

Add public-samples/trace3-z175cd/infrastructure/kubernetes/monitoring/prometheus/configmap.yaml
  infrastructure/kubernetes/monitoring/prometheus/configmap.yaml
Owners: @devops-team

Add public-samples/trace3-z175cd/infrastructure/kubernetes/monitoring/prometheus/deployment.yaml
  infrastructure/kubernetes/monitoring/prometheus/deployment.yaml
Owners: @devops-team

Add public-samples/trace3-z175cd/infrastructure/kubernetes/monitoring/prometheus/service.yaml
  infrastructure/kubernetes/monitoring/prometheus/service.yaml
Owners: @devops-team

Add public-samples/trace3-z175cd/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @devops-team

Add public-samples/trace3-z175cd/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team

Add public-samples/trace3-z175cd/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team

Add public-samples/trace3-z175cd/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @devops-team

Add public-samples/trace3-z175cd/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team

Add public-samples/trace3-z175cd/infrastructure/terraform/environments/production/main.tf
  infrastructure/terraform/environments/production/main.tf
Owners: @devops-team

Add public-samples/trace3-z175cd/infrastructure/terraform/environments/production/variables.tf
  infrastructure/terraform/environments/production/variables.tf
Owners: @devops-team

Add public-samples/trace3-z175cd/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @devops-team
